<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
    <carriers>
        <qwqer>
            <active>1</active>
            <title>QWQER Express</title>
            <name>Vakara piegāde (šodien)</name>
            <category>Other</category>
            <api_bearer_token>VWn17MYTcMA4SOsoHh5FKdDDa6S4ZFKYaqQZBeq1</api_bearer_token>
            <auth_endpoint>https://qwqer.hostcream.eu/api</auth_endpoint>
            <trading_point_id>2</trading_point_id>
            <store_address>The Riga Central Library regional branch Plavnieki, Salnas iela, Latgale Suburb, Rīga, Latvia</store_address>
            <geo_store>56.9420606,24.2202912</geo_store>
            <shipping_cost>3</shipping_cost>
            <sallowspecific>0</sallowspecific>
            <sort_order>15</sort_order>
            <model>Qwqer\Express\Model\Carrier\Express</model>
        </qwqer>
    </carriers>
</default>
</config>

