<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
    <carriers>
        <qwqer>
            <active>1</active>
            <title>QWQER Express</title>
            <name>(3h laikā)</name>
            <category>Other</category>
            <api_bearer_token>VWn17MYTcMA4SOsoHh5FKdDDa6S4ZFKYaqQZBeq1</api_bearer_token>
            <auth_endpoint>https://api.qwqer.lv</auth_endpoint>
            <trading_point_id>2</trading_point_id>
            <store_address>The Riga Central Library regional branch Plavnieki, Salnas iela, Latgale Suburb, Rīga, Latvia</store_address>
            <geo_store>56.9420606,24.2202912</geo_store>
            <shipping_cost>3</shipping_cost>
            <sallowspecific>0</sallowspecific>
            <sort_order>15</sort_order>
            <model>Qwqer\Express\Model\Carrier\Express</model>
            <sync_automatically>0</sync_automatically>
            <calculate_shipping_price>1</calculate_shipping_price>
            <base_shipping_cost>0</base_shipping_cost>
        </qwqer>
        <qwqer_door>
            <active>1</active>
            <title>QWQER piegāde</title>
            <name>(ŠODIEN 18:00 - 22:00)</name>
            <shipping_cost>3</shipping_cost>
            <sallowspecific>0</sallowspecific>
            <sort_order>16</sort_order>
            <model>Qwqer\Express\Model\Carrier\ScheduledToDoor</model>
            <sync_automatically>0</sync_automatically>
            <calculate_shipping_price>1</calculate_shipping_price>
            <base_shipping_cost>0</base_shipping_cost>
        </qwqer_door>
        <qwqer_parcel>
            <active>1</active>
            <title>QWQER piegāde uz Omniva pakomātu</title>
            <name>(ŠODIEN 18:00 - 22:00)</name>
            <parcel_size>L</parcel_size>
            <shipping_cost>3</shipping_cost>
            <sallowspecific>0</sallowspecific>
            <sort_order>17</sort_order>
            <model>Qwqer\Express\Model\Carrier\ScheduledToParcel</model>
            <sync_automatically>0</sync_automatically>
            <calculate_shipping_price>1</calculate_shipping_price>
            <base_shipping_cost>0</base_shipping_cost>
        </qwqer_parcel>
    </carriers>
</default>
</config>

