<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="qwqer_express_save_qwqer_address_to_shipping_description"
                  instance="Qwqer\Express\Observer\ManageShippingDescription" />
        <observer name="qwqer_express_sales_order_place_before"
                  instance="Qwqer\Express\Observer\OrderPlaceBefore" />
    </event>
</config>
